#root {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header {
  text-decoration: none;
}

h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
}
.title {
  color: #007bff;
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.article-nav {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links a {
  text-decoration: none;
  color: #030303;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  font-size: medium;
  margin-right: 20px;
}

.dropdowns {
  display: flex;
}

.artical-preview {
  text-decoration: none;
}
.link {
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
}
.article-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f9f9f9;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.article-card-content {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 600px;
}
.article-page-content {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}

.item-card-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 20px;
}
.item-page-image {
  width: 100%;
  height: 500px;
  border-radius: 4px;
  margin-top: 20px;
}

.article-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 10px;
  color: black;
}

.article-topic {
  color: #888;
  font-size: 2rem;
  margin-bottom: 20px;
}

.article-text {
  margin-bottom: 30px;
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: "Courier New", Courier, monospace;
}

.comment-container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.comment {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment-author {
  font-weight: bold;
}

.comment-date {
  color: #888;
  font-size: 0.8rem;
}

.comment-body {
  margin-bottom: 10px;
}

.comment-footer {
  display: flex;
  justify-content: flex-end;
  color: #007bff;
  font-size: 0.8rem;
}

.voting-component {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.up-button,
.down-button {
  background-color: white;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 30px;
}

.up-button:disabled,
.down-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.vote-count {
  font-size: 18px;
  margin: 0 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.comment-form {
  margin-top: 20px;
  width: 100%;
  max-width: 96%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-form textarea {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.comment-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.comment-form button:hover:enabled {
  background-color: #45a049;
}

.error-message,
.success-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.error-message {
  background-color: #ff5858;
  color: white;
}

.success-message {
  background-color: #4caf50;
  color: white;
}

.dropdown-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.sortby-dropdown,
.order-dropdown,
.topic-dropdown {
  margin-top: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 150px;
}
